@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}



article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}
.wrapper {
    width: 80%;
    margin: 0 10%;
}

/* Make the body 100% of the browser viewport height */
html, body {
    height: 100%;
    margin: 0;
}
h1 {
    font-size: 2em;
    margin-top: 0;
    font-weight: 700;
}

.header-container {
    text-align: center;
    color: #ffffff;
}
/* TODO Look at the pinning function */

/* LOOK AT THE EASING FUNCTION */
.header-container .wrapper {

    display: block;;
}